@model IEnumerable<GameApp.Models.StudioRole>

@{
    ViewData["Title"] = "StudioRole";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h1 class="text-light">StudioRole</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudioRoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudioRoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudioRoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudioRoleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudioRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
